In [1]:
from pandas import Series

#create

In [77]:
a=[1,2,3,4]
s= Series(a)

In [78]:
s# index and value

0    1
1    2
2    3
3    4
dtype: int64

In [79]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [80]:
s.values

array([1, 2, 3, 4], dtype=int64)

In [81]:
s1=Series(a,index=['A','B','C',"D"])# change a(list) to Series with new index

In [82]:
s1.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [83]:
import numpy as np
s2 = Series(np.arange(5))#use np create array

In [84]:
s2

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [85]:
s2. values

array([0, 1, 2, 3, 4])

In [86]:
# # python中的list是python的内置数据类型，
# list中的数据类不必相同的，而array的中的类型必须全部相同。
# 在list中的数据类型保存的是数据的存放的地址，简单的说就是指针，
# 并非数据，这样保存一个list就太麻烦了，
# 例如list1=[1,2,3,'a']需要4个指针和四个数据，增加了存储和消耗cpu。
# #       numpy中封装的array有很强大的功能，里面存放的都是相同的数据类型

In [87]:
d={'A':1,'B':2,'C':3,'D':4}
s3=Series (d)

In [88]:
s3

A    1
B    2
C    3
D    4
dtype: int64

In [89]:
s3.values

array([1, 2, 3, 4], dtype=int64)

In [90]:
s3

A    1
B    2
C    3
D    4
dtype: int64

In [91]:
s3.to_dict()

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [92]:
s3

A    1
B    2
C    3
D    4
dtype: int64

In [93]:
s3['A']

1

In [94]:
d['A']

1

In [95]:
s3[s3>2]

C    3
D    4
dtype: int64

In [96]:
type(s3[s3>2])

pandas.core.series.Series

In [97]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [98]:
s3.max()

4

In [99]:
s1.min()

1

In [100]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [101]:
s3.pop('A')

1

In [112]:
s3

B    2
C    3
D    4
dtype: int64

In [113]:
s5=Series([55],index=['B'])

In [114]:
s5

B    55
dtype: int64

In [115]:
s4 = Series(s3,index=['w','f','D'])#用s3创建s4若找不到则null

In [116]:
s4

w    NaN
f    NaN
D    4.0
dtype: float64

In [107]:
s3.isnull()

B    False
C    False
D    False
dtype: bool

In [108]:
s5=Series(s4,index=['C'])

In [109]:
s5

C   NaN
dtype: float64

In [110]:
#Series的大小全由index决定，多则删除