In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
s1=Series([1,2,3,4])

In [4]:
s1

0    1
1    2
2    3
3    4
dtype: int64

In [8]:
s2=Series([1,2,3,4],index=['A','B','C','D'])

In [9]:
s2

A    1
B    2
C    3
D    4
dtype: int64

In [10]:
s1.reindex(index=['A','B','C','D'])

A   NaN
B   NaN
C   NaN
D   NaN
dtype: float64

In [11]:
s1

0    1
1    2
2    3
3    4
dtype: int64

In [40]:
s1.reindex(index=[1,2])

1    2
2    3
dtype: int64

In [13]:
s1.loc[[0,1]]

0    1
1    2
dtype: int64

In [15]:
s1.iloc[0:2]

0    1
1    2
dtype: int64

In [16]:
s1.reindex(index=[1,2,4])#reindex 作用是抓取index的数据，没有的为NaN，index类似于行号

1    2.0
2    3.0
4    NaN
dtype: float64

In [17]:
s1.reindexdex(index=[1,2,4],fill_value=10)#没有的可以用fill填充

1     2
2     3
4    10
dtype: int64

In [18]:
s2=s1.reindex(index=[1,2,4],fill_value=10)
s2

1     2
2     3
4    10
dtype: int64

Reindex DataFrame

In [19]:
#  method for creating a DataFrame
# 1. from I/O use  
#    df_new=DataFrame(df,columns=['Programming Language','Jan 2017','Oct 2018'])
# 2. from clipboard df=pd.read_clipboard()
# 3. from dictionary
#     cc={'A':[1,2],'B':[3,4]}
#     dd=pd.DataFrame(data=cc,columns=['A','B'],index=[100,200])

In [20]:
a=np.random.rand(15).reshape(3,5)

In [21]:
a

array([[ 0.38764798,  0.75870354,  0.97851717,  0.30149139,  0.84768627],
       [ 0.09972905,  0.61680978,  0.50419793,  0.88146403,  0.43637753],
       [ 0.86591938,  0.29094345,  0.40473413,  0.36790072,  0.96000795]])

In [23]:
df=DataFrame(a,index=[1,2,3],columns=['A','B','C','D','E'])
df

          A         B         C         D         E
1  0.387648  0.758704  0.978517  0.301491  0.847686
2  0.099729  0.616810  0.504198  0.881464  0.436378
3  0.865919  0.290943  0.404734  0.367901  0.960008

In [24]:
df[['A','B']]

          A         B
1  0.387648  0.758704
2  0.099729  0.616810
3  0.865919  0.290943

In [25]:
#对于DATa Frame的reindex和Series（一维)  index类似于行号，columns为列号
df.reindex(index=[1,2],columns=['C','D'])

          C         D
1  0.978517  0.301491
2  0.504198  0.881464

In [35]:
df.loc[[1,2],['C','D']]

          C         D
1  0.978517  0.301491
2  0.504198  0.881464

In [36]:
df.iloc[[0,1],[2,3]]

          C         D
1  0.978517  0.301491
2  0.504198  0.881464

In [37]:
#同理运用fill_values reindex方法
df.reindex(index=[1,2],columns=['A','B','W'])

          A         B   W
1  0.387648  0.758704 NaN
2  0.099729  0.616810 NaN

In [38]:
df.reindex(index=[1,2],columns=['A','B','W'],fill_value='100')

           A         B    W
1   0.387648  0.758704  100
2  0.0997291   0.61681  100