In [5]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

# Series

In [6]:
s=Series(np.random.rand(10))
s

0    0.628919
1    0.428793
2    0.401072
3    0.425424
4    0.745735
5    0.766042
6    0.108874
7    0.425326
8    0.914087
9    0.664519
dtype: float64

In [7]:
s.sort_index(ascending=False)

9    0.664519
8    0.914087
7    0.425326
6    0.108874
5    0.766042
4    0.745735
3    0.425424
2    0.401072
1    0.428793
0    0.628919
dtype: float64

In [8]:
s.max()

0.91408692789808288

In [9]:
s.mean()

0.5508792627203144

In [10]:
s1 = Series([1,2,3],index=['A','B','C'])
s2 = Series([4,5,6],index=['A','M','N'])

In [11]:
s1
s2

A    4
M    5
N    6
dtype: int64

In [12]:
s1+s2

A    5.0
B    NaN
C    NaN
M    NaN
N    NaN
dtype: float64

# DataFrame

In [13]:
df=DataFrame(np.random.rand(20).reshape(4,5))

In [14]:
df

          0         1         2         3         4
0  0.069569  0.724460  0.526303  0.190758  0.521211
1  0.341463  0.497122  0.412114  0.743645  0.306407
2  0.585757  0.071697  0.675309  0.881751  0.432571
3  0.150566  0.995985  0.744682  0.387735  0.607658

In [15]:
df.sort_values(by=2,axis=1)#对第二行对列元素进行排序

          1         4         0         2         3
0  0.724460  0.521211  0.069569  0.526303  0.190758
1  0.497122  0.306407  0.341463  0.412114  0.743645
2  0.071697  0.432571  0.585757  0.675309  0.881751
3  0.995985  0.607658  0.150566  0.744682  0.387735

In [16]:
df

          0         1         2         3         4
0  0.069569  0.724460  0.526303  0.190758  0.521211
1  0.341463  0.497122  0.412114  0.743645  0.306407
2  0.585757  0.071697  0.675309  0.881751  0.432571
3  0.150566  0.995985  0.744682  0.387735  0.607658

In [17]:
df.sort_index()

          0         1         2         3         4
0  0.069569  0.724460  0.526303  0.190758  0.521211
1  0.341463  0.497122  0.412114  0.743645  0.306407
2  0.585757  0.071697  0.675309  0.881751  0.432571
3  0.150566  0.995985  0.744682  0.387735  0.607658

In [18]:
df1=DataFrame(np.random.rand(20).reshape(4,5),index=['c','b','a','d'])

In [19]:
df1

          0         1         2         3         4
c  0.855298  0.562440  0.172670  0.069635  0.801361
b  0.320398  0.502341  0.500382  0.858191  0.715328
a  0.484631  0.610638  0.434876  0.293721  0.475293
d  0.448429  0.502194  0.097870  0.156136  0.301547

In [27]:
df1.loc['c']=[1,2,3,4,5]
df1

          0         1         2         3         4
c  1.000000  2.000000  3.000000  4.000000  5.000000
b  0.320398  0.502341  0.500382  0.858191  0.715328
a  0.484631  0.610638  0.434876  0.293721  0.475293
d  0.448429  0.502194  0.097870  0.156136  0.301547

In [28]:
df1.sort_index()

          0         1         2         3         4
a  0.484631  0.610638  0.434876  0.293721  0.475293
b  0.320398  0.502341  0.500382  0.858191  0.715328
c  1.000000  2.000000  3.000000  4.000000  5.000000
d  0.448429  0.502194  0.097870  0.156136  0.301547

In [29]:
df

          0         1         2         3         4
0  0.069569  0.724460  0.526303  0.190758  0.521211
1  0.341463  0.497122  0.412114  0.743645  0.306407
2  0.585757  0.071697  0.675309  0.881751  0.432571
3  0.150566  0.995985  0.744682  0.387735  0.607658

In [30]:
df.max(1)#找出每一行的最大值

0    0.724460
1    0.743645
2    0.881751
3    0.995985
dtype: float64

In [31]:
df.describe()#对列进行分析

              0         1         2         3         4
count  4.000000  4.000000  4.000000  4.000000  4.000000
mean   0.286839  0.572316  0.589602  0.550972  0.466962
std    0.229574  0.391117  0.149336  0.317773  0.128710
min    0.069569  0.071697  0.412114  0.190758  0.306407
25%    0.130317  0.390766  0.497756  0.338491  0.401030
50%    0.246015  0.610791  0.600806  0.565690  0.476891
75%    0.402537  0.792342  0.692652  0.778172  0.542823
max    0.585757  0.995985  0.744682  0.881751  0.607658