Pandas
重要类型：Series、DataFrame

In [9]:
#Series 类似于dict，有index

In [10]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [11]:
link='https://www.tiobe.com/tiobe-index/'
import webbrowser
webbrowser.open(link)

True

In [12]:
df=pd.read_clipboard()

In [13]:
df

,from,pandas,import,"DataFrame,Series"
0,"data=Series([2,3,4,2,5,4,7],index=['Apple','Or...","Melon','Pineapple'])",NaN,NaN
1,"data1={'Fruit':[2,3,1,2,3,4,2],'Price':[2,3,1,...",NaN,NaN,NaN
2,print(data1),NaN,NaN,NaN
3,"df=DataFrame(data=data1,index=['Apple','Orange...","Melon','Pineapple'],columns=['Fruit','Price','...",NaN,NaN
4,print(df),NaN,NaN,NaN

In [14]:
df['Ratings']

KeyError: 'Ratings'

In [15]:
df['Programming Language']

KeyError: 'Programming Language'

In [16]:
df_new=DataFrame(df,columns=['Programming Language','Jan 2017','Oct 2018'])

In [17]:
df_new#没有的列为null NaN

   Programming Language  Jan 2017  Oct 2018
0                   NaN       NaN       NaN
1                   NaN       NaN       NaN
2                   NaN       NaN       NaN
3                   NaN       NaN       NaN
4                   NaN       NaN       NaN

In [18]:
df_new['Oct 2018']

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Oct 2018, dtype: float64

In [19]:
df_new['Oct 2018']=range(0,14)#附上新值

ValueError: Length of values does not match length of index

In [20]:
df_new

   Programming Language  Jan 2017  Oct 2018
0                   NaN       NaN       NaN
1                   NaN       NaN       NaN
2                   NaN       NaN       NaN
3                   NaN       NaN       NaN
4                   NaN       NaN       NaN

In [21]:
df_new['Oct 2018']=Series([100,200],index=[2,3])#精确对数据赋值

In [22]:
df_new

   Programming Language  Jan 2017  Oct 2018
0                   NaN       NaN       NaN
1                   NaN       NaN       NaN
2                   NaN       NaN     100.0
3                   NaN       NaN     200.0
4                   NaN       NaN       NaN

In [23]:
df[0:4]

,from,pandas,import,"DataFrame,Series"
0,"data=Series([2,3,4,2,5,4,7],index=['Apple','Or...","Melon','Pineapple'])",NaN,NaN
1,"data1={'Fruit':[2,3,1,2,3,4,2],'Price':[2,3,1,...",NaN,NaN,NaN
2,print(data1),NaN,NaN,NaN
3,"df=DataFrame(data=data1,index=['Apple','Orange...","Melon','Pineapple'],columns=['Fruit','Price','...",NaN,NaN

In [24]:
df.loc[0]

from                data=Series([2,3,4,2,5,4,7],index=['Apple','Or...
pandas                                           Melon','Pineapple'])
import                                                            NaN
DataFrame,Series                                                  NaN
Name: 0, dtype: object

In [25]:
df[0:3]#选0-2

,from,pandas,import,"DataFrame,Series"
0,"data=Series([2,3,4,2,5,4,7],index=['Apple','Or...","Melon','Pineapple'])",NaN,NaN
1,"data1={'Fruit':[2,3,1,2,3,4,2],'Price':[2,3,1,...",NaN,NaN,NaN
2,print(data1),NaN,NaN,NaN

In [26]:
df.loc[0:3]#定位0-3

,from,pandas,import,"DataFrame,Series"
0,"data=Series([2,3,4,2,5,4,7],index=['Apple','Or...","Melon','Pineapple'])",NaN,NaN
1,"data1={'Fruit':[2,3,1,2,3,4,2],'Price':[2,3,1,...",NaN,NaN,NaN
2,print(data1),NaN,NaN,NaN
3,"df=DataFrame(data=data1,index=['Apple','Orange...","Melon','Pineapple'],columns=['Fruit','Price','...",NaN,NaN

In [27]:
df.loc[0:3,['Jan 2018','Ratings']]# 行和列

KeyError: "None of [['Jan 2018', 'Ratings']] are in the [columns]"

In [28]:
df.loc[[2,5],['Jan 2018','Ratings']]# 行和列

c:\users\zhaofeng shang\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

KeyError: "None of [['Jan 2018', 'Ratings']] are in the [columns]"

In [29]:
df.iloc[0:3, 0:3] #直接用位置标来定位

,from,pandas,import
0,"data=Series([2,3,4,2,5,4,7],index=['Apple','Or...","Melon','Pineapple'])",NaN
1,"data1={'Fruit':[2,3,1,2,3,4,2],'Price':[2,3,1,...",NaN,NaN
2,print(data1),NaN,NaN

In [30]:
df.head()#first 5 row

,from,pandas,import,"DataFrame,Series"
0,"data=Series([2,3,4,2,5,4,7],index=['Apple','Or...","Melon','Pineapple'])",NaN,NaN
1,"data1={'Fruit':[2,3,1,2,3,4,2],'Price':[2,3,1,...",NaN,NaN,NaN
2,print(data1),NaN,NaN,NaN
3,"df=DataFrame(data=data1,index=['Apple','Orange...","Melon','Pineapple'],columns=['Fruit','Price','...",NaN,NaN
4,print(df),NaN,NaN,NaN

In [31]:
df.tail()

,from,pandas,import,"DataFrame,Series"
0,"data=Series([2,3,4,2,5,4,7],index=['Apple','Or...","Melon','Pineapple'])",NaN,NaN
1,"data1={'Fruit':[2,3,1,2,3,4,2],'Price':[2,3,1,...",NaN,NaN,NaN
2,print(data1),NaN,NaN,NaN
3,"df=DataFrame(data=data1,index=['Apple','Orange...","Melon','Pineapple'],columns=['Fruit','Price','...",NaN,NaN
4,print(df),NaN,NaN,NaN

In [32]:
x={'A':1,"B":2.3}

In [33]:
x

{'A': 1, 'B': 2.3}

In [34]:
a=Series(['s',2.1],index=[2,3])

In [35]:
a

2      s
3    2.1
dtype: object

In [36]:
cc={'A':[1,2],'B':[3,4]}

In [37]:
dd=pd.DataFrame(data=cc,columns=['A','B'],index=[100,200])
dd

     A  B
100  1  3
200  2  4

In [52]:
data=Series([2,3,4,2,5,4,7],index=['Apple','Orange','Grapes','Plumns','Peaches','Water Melon','Pineapple'])
data1={'Fruit':[2,3,1,2,3,4,2],'Price':[2,3,1,2,3,1,2],'Sales':[1,2,3,2,1,2,3]}

df=DataFrame(data=data1,index=['Apple','Orange','Grapes','Plumns','Peaches','Water Melon','Pineapple'],columns=['Fruit','Price','Sales'])

In [53]:
df

             Fruit  Price  Sales
Apple            2      2      1
Orange           3      3      2
Grapes           1      1      3
Plumns           2      2      2
Peaches          3      3      1
Water Melon      4      1      2
Pineapple        2      2      3

In [54]:
df.loc['Apple':'Peaches']

         Fruit  Price  Sales
Apple        2      2      1
Orange       3      3      2
Grapes       1      1      3
Plumns       2      2      2
Peaches      3      3      1

In [55]:
df2=df[df['Sales']>1]

In [56]:
df2

             Fruit  Price  Sales
Orange           3      3      2
Grapes           1      1      3
Plumns           2      2      2
Water Melon      4      1      2
Pineapple        2      2      3

In [58]:
df

             Fruit  Price  Sales
Apple            2      2      1
Orange           3      3      2
Grapes           1      1      3
Plumns           2      2      2
Peaches          3      3      1
Water Melon      4      1      2
Pineapple        2      2      3

In [61]:
(df['Sales']*df['Fruit']).sum()

32

In [63]:
(df['Sales']*(df['Fruit']<2)).sum()

3