In [39]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [40]:
score_list=np.random.randint(30,100,20)

In [41]:
score_list

array([98, 97, 98, 39, 67, 38, 73, 74, 76, 81, 99, 68, 82, 37, 65, 91, 95,
       42, 92, 84])

In [42]:
bins=[30,59,79,100]

In [44]:
a=pd.cut(score_list,bins)

In [45]:
a

[(79, 100], (79, 100], (79, 100], (30, 59], (59, 79], ..., (79, 100], (79, 100], (30, 59], (79, 100], (79, 100]]
Length: 20
Categories (3, interval[int64]): [(30, 59] < (59, 79] < (79, 100]]

In [46]:
a.value_counts()#count the number of value in every

(30, 59]      4
(59, 79]      6
(79, 100]    10
dtype: int64

In [47]:
df=DataFrame()
df['student']=[pd.util.testing.rands(5) for i in range(20)]

In [48]:
df['score']=score_list
df

   student  score
0    pgjrD     98
1    cjEeh     97
2    fsi7p     98
3    dRtzs     39
4    Pyizb     67
5    d3wOa     38
6    AD0Yb     73
7    kXX6E     74
8    vYoVk     76
9    YZv3q     81
10   GgOp1     99
11   nQc0K     68
12   jOj5J     82
13   98Hha     37
14   TJ1E0     65
15   zqspR     91
16   RXt2p     95
17   YkRKX     42
18   JPSql     92
19   7LPbg     84

In [49]:
for i in range(5):
    print (i)

0
1
2
3
4

In [60]:
df['bins']=pd.cut(df['score'],bins=bins,labels=['bad','ok','good'])#use bins to seperate

In [62]:
df

   student  score  bins
0    pgjrD     98  good
1    cjEeh     97  good
2    fsi7p     98  good
3    dRtzs     39   bad
4    Pyizb     67    ok
5    d3wOa     38   bad
6    AD0Yb     73    ok
7    kXX6E     74    ok
8    vYoVk     76    ok
9    YZv3q     81  good
10   GgOp1     99  good
11   nQc0K     68    ok
12   jOj5J     82  good
13   98Hha     37   bad
14   TJ1E0     65    ok
15   zqspR     91  good
16   RXt2p     95  good
17   YkRKX     42   bad
18   JPSql     92  good
19   7LPbg     84  good