In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

df=pd.read_csv('course_document/123/data/city_weather.csv')
df

          date city  temperature  wind
0   03/01/2016   BJ            8     5
1   17/01/2016   BJ           12     2
2   31/01/2016   BJ           19     2
3   14/02/2016   BJ           -3     3
4   28/02/2016   BJ           19     2
5   13/03/2016   BJ            5     3
6   27/03/2016   SH           -4     4
7   10/04/2016   SH           19     3
8   24/04/2016   SH           20     3
9   08/05/2016   SH           17     3
10  22/05/2016   SH            4     2
11  05/06/2016   SH          -10     4
12  19/06/2016   SH            0     5
13  03/07/2016   SH           -9     5
14  17/07/2016   GZ           10     2
15  31/07/2016   GZ           -1     5
16  14/08/2016   GZ            1     5
17  28/08/2016   GZ           25     4
18  11/09/2016   SZ           20     1
19  25/09/2016   SZ          -10     4

In [2]:
g=df.groupby(by=['city'])#  group by city,里面有2个属性
#groupname 和groupvalue

In [11]:
g

In [12]:
g.size()

city
BJ    6
GZ    4
SH    8
SZ    2
dtype: int64

In [4]:
g.get_group('BJ')

         date city  temperature  wind
0  03/01/2016   BJ            8     5
1  17/01/2016   BJ           12     2
2  31/01/2016   BJ           19     2
3  14/02/2016   BJ           -3     3
4  28/02/2016   BJ           19     2
5  13/03/2016   BJ            5     3

In [5]:
g.get_group('BJ').sum()[['wind','temperature']]#通过groupname来看groupvalue

wind           17
temperature    60
dtype: object

In [6]:
g.sum()[['wind','temperature']]

      wind  temperature
city
BJ      17           60
GZ      16           35
SH      29           37
SZ       5           10

In [7]:
g.count()['wind']
#     for key, group in grouped:
#         # do something with the data

city
BJ    6
GZ    4
SH    8
SZ    2
Name: wind, dtype: int64

In [8]:
for key,group in g:
    print(key)
    print(group)

BJ
         date city  temperature  wind
0  03/01/2016   BJ            8     5
1  17/01/2016   BJ           12     2
2  31/01/2016   BJ           19     2
3  14/02/2016   BJ           -3     3
4  28/02/2016   BJ           19     2
5  13/03/2016   BJ            5     3
GZ
          date city  temperature  wind
14  17/07/2016   GZ           10     2
15  31/07/2016   GZ           -1     5
16  14/08/2016   GZ            1     5
17  28/08/2016   GZ           25     4
SH
          date city  temperature  wind
6   27/03/2016   SH           -4     4
7   10/04/2016   SH           19     3
8   24/04/2016   SH           20     3
9   08/05/2016   SH           17     3
10  22/05/2016   SH            4     2
11  05/06/2016   SH          -10     4
12  19/06/2016   SH            0     5
13  03/07/2016   SH           -9     5
SZ
          date city  temperature  wind
18  11/09/2016   SZ           20     1
19  25/09/2016   SZ          -10     4

In [9]:
df.loc[0:3]

         date city  temperature  wind
0  03/01/2016   BJ            8     5
1  17/01/2016   BJ           12     2
2  31/01/2016   BJ           19     2
3  14/02/2016   BJ           -3     3

In [10]:
df.iloc[0:3]

         date city  temperature  wind
0  03/01/2016   BJ            8     5
1  17/01/2016   BJ           12     2
2  31/01/2016   BJ           19     2

In [61]:
df['asd']='s'
df2=df

In [62]:
d5=d4[0:5]
d5

NameError: name 'd4' is not defined

In [63]:
parties={5:5,2:2,3:'NaN'}
d5['party']=d5.wind.map(parties)

NameError: name 'd5' is not defined

In [64]:
d5

NameError: name 'd5' is not defined

In [65]:
d4

NameError: name 'd4' is not defined

In [66]:
d4.groupby(['city','wind'])['wind'].count()

NameError: name 'd4' is not defined

In [67]:
d4.groupby(['city','wind']).size()

NameError: name 'd4' is not defined

In [68]:
d4.groupby(['city']).max()

NameError: name 'd4' is not defined

In [69]:
d4.groupby(['city'])['wind'].max()

NameError: name 'd4' is not defined

In [70]:
d4.groupby(['city'])['wind'].idxmax()

NameError: name 'd4' is not defined

In [71]:
d3=d4.groupby(['city'])['wind','temperature']

NameError: name 'd4' is not defined

In [72]:
for i,j in d3:
    print(i)
    print(j)

NameError: name 'd3' is not defined

In [73]:
df

          date city  temperature  wind asd
0   03/01/2016   BJ            8     5   s
1   17/01/2016   BJ           12     2   s
2   31/01/2016   BJ           19     2   s
3   14/02/2016   BJ           -3     3   s
4   28/02/2016   BJ           19     2   s
5   13/03/2016   BJ            5     3   s
6   27/03/2016   SH           -4     4   s
7   10/04/2016   SH           19     3   s
8   24/04/2016   SH           20     3   s
9   08/05/2016   SH           17     3   s
10  22/05/2016   SH            4     2   s
11  05/06/2016   SH          -10     4   s
12  19/06/2016   SH            0     5   s
13  03/07/2016   SH           -9     5   s
14  17/07/2016   GZ           10     2   s
15  31/07/2016   GZ           -1     5   s
16  14/08/2016   GZ            1     5   s
17  28/08/2016   GZ           25     4   s
18  11/09/2016   SZ           20     1   s
19  25/09/2016   SZ          -10     4   s

In [42]:
se=df[df['wind']==5]
se.wind=9
se

c:\users\zhaofeng shang\appdata\local\programs\python\python36-32\lib\site-packages\pandas\core\generic.py:3643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

    wind
12     9
13     9
15     9
16     9

In [49]:
df=df[df['wind']==5].wind=9

TypeError: 'int' object is not subscriptable

In [46]:
df

    wind
0      7
1      2
2      2
3      3
4      2
5      3
6      4
7      3
8      3
9      3
10     2
11     4
12     5
13     5
14     2
15     5
16     5
17     4
18     1
19     4

In [74]:

df

          date city  temperature  wind asd
0   03/01/2016   BJ            8     5   s
1   17/01/2016   BJ           12     2   s
2   31/01/2016   BJ           19     2   s
3   14/02/2016   BJ           -3     3   s
4   28/02/2016   BJ           19     2   s
5   13/03/2016   BJ            5     3   s
6   27/03/2016   SH           -4     4   s
7   10/04/2016   SH           19     3   s
8   24/04/2016   SH           20     3   s
9   08/05/2016   SH           17     3   s
10  22/05/2016   SH            4     2   s
11  05/06/2016   SH          -10     4   s
12  19/06/2016   SH            0     5   s
13  03/07/2016   SH           -9     5   s
14  17/07/2016   GZ           10     2   s
15  31/07/2016   GZ           -1     5   s
16  14/08/2016   GZ            1     5   s
17  28/08/2016   GZ           25     4   s
18  11/09/2016   SZ           20     1   s
19  25/09/2016   SZ          -10     4   s

In [82]:
df.sort_values(['wind','temperature'])['wind']

18    1
10    2
14    2
1     2
2     2
4     2
3     3
5     3
9     3
7     3
8     3
11    4
19    4
6     4
17    4
13    5
15    5
12    5
16    5
0     5
Name: wind, dtype: int64