In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
s1=Series([1,2,3,4])

In [3]:
s1

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
s2=Series([1,2,3,4],index=['A','B','C','D'])

In [5]:
s2

A    1
B    2
C    3
D    4
dtype: int64

In [6]:
s1.reindex(index=['A','B','C','D'])

A   NaN
B   NaN
C   NaN
D   NaN
dtype: float64

In [23]:
s1

0    1
1    2
2    3
3    4
dtype: int64

In [8]:
s1.reindex(index=[1,2])

1    2
2    3
dtype: int64

In [9]:
s1.loc[[0,1]]

0    1
1    2
dtype: int64

In [10]:
s1.iloc[0:2]

0    1
1    2
dtype: int64

In [27]:
s1.reindex(index=[1,2,4])#reindex 作用是抓取index的数据，没有的为NaN，index类似于行号

1    2.0
2    3.0
4    NaN
dtype: float64

In [29]:
s1.reindex(index=[1,2,4],fill_value=10)#没有的可以用fill填充

1     2
2     3
4    10
dtype: int64

In [30]:
s2=s1.reindex(index=[1,2,4],fill_value=10)
s2

1     2
2     3
4    10
dtype: int64

Reindex DataFrame

In [13]:
#  method for creating a DataFrame
# 1. from I/O use  
#    df_new=DataFrame(df,columns=['Programming Language','Jan 2017','Oct 2018'])
# 2. from clipboard df=pd.read_clipboard()
# 3. from dictionary
#     cc={'A':[1,2],'B':[3,4]}
#     dd=pd.DataFrame(data=cc,columns=['A','B'],index=[100,200])

In [14]:
a=np.random.rand(15).reshape(3,5)

In [15]:
a

array([[ 0.6508855 ,  0.57669072,  0.60778799,  0.61691057,  0.75439037],
       [ 0.63059797,  0.07541711,  0.08824837,  0.71158824,  0.03086323],
       [ 0.04043188,  0.67650845,  0.56984182,  0.66775105,  0.23726905]])

In [16]:
df=DataFrame(a,index=[1,2,3],columns=['A','B','C','D','E'])
df

          A         B         C         D         E
1  0.650886  0.576691  0.607788  0.616911  0.754390
2  0.630598  0.075417  0.088248  0.711588  0.030863
3  0.040432  0.676508  0.569842  0.667751  0.237269

In [17]:
df[['A','B']]

          A         B
1  0.650886  0.576691
2  0.630598  0.075417
3  0.040432  0.676508

In [18]:
#对于DATa Frame的reindex和Series（一维)  index类似于行号，columns为列号
df.reindex(index=[1,2],columns=['C','D'])

          C         D
1  0.607788  0.616911
2  0.088248  0.711588

In [19]:
df.loc[[1,2],['C','D']]

          C         D
1  0.607788  0.616911
2  0.088248  0.711588

In [33]:
df.iloc[[0,1],[2,3]]='s'
df

          A         B         C         D         E
1  0.650886  0.576691         s         s  0.754390
2  0.630598  0.075417         s         s  0.030863
3  0.040432  0.676508  0.569842  0.667751  0.237269

In [21]:
#同理运用fill_values reindex方法
df.reindex(index=[1,2],columns=['A','B','W'])

          A         B   W
1  0.650886  0.576691 NaN
2  0.630598  0.075417 NaN

In [22]:
df.reindex(index=[1,2],columns=['A','B','W'],fill_value='100')

          A          B    W
1  0.650886   0.576691  100
2  0.630598  0.0754171  100

In [34]:
df

          A         B         C         D         E
1  0.650886  0.576691         s         s  0.754390
2  0.630598  0.075417         s         s  0.030863
3  0.040432  0.676508  0.569842  0.667751  0.237269